# Sync files
/.bitpocket/
/.bitignore

# Build files
__pycache__/
*.py[cod]
*.so
/build/

# Distribution files and folders
/dist/
.Python
*.egg-info
wheels/
lib/
lib64/
eggs/
.eggs
MANIFEST

# Virtual env
/venv/

# Editor
/.vscode/